* {
    font-size: 18px;
    margin: 0rem;
    padding: 0rem;
    font-family: "Arial Black", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 4rem auto 1rem;
    background-color: rgb(200,200,200);
    gap: 0.05rem;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    background-color: rgb(200,200,200);
}

.header h1 {
    font-size: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.header a {
    color:grey;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    font-weight: 700;
}

.header a:hover {
    background-color:rgb(200,200,200);
    color: rgb(247, 148, 30);
}

.center-item {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(240,240,240) url('./static/tree.png') center no-repeat;
    background-size: 70%;

}

.left-item {
    background-color: rgb(240,240,240);
}

.right-item {
    background-color: rgb(240,240,240);
}

.footer {
    font-size: 0.8rem;
    text-align: center;
    color: grey;
    font-family: arial;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    background-color: rgb(240,240,240);
}

#home-button {
    height: 100%;
}

#home-button:hover {
    background-color:rgb(200,200,200);
}

#menu-button {
    position: fixed;
    right: 0rem;
    top: 0rem;
    margin: 0rem;
    padding: 0rem 1rem;
    height: 4rem;
}

.nav-button {
    margin: 1rem;
    padding: 0rem 1rem;
    width: 40%;
    min-height: 4rem;
    height: auto;
    background-color: rgba(132, 184, 49, 0.8);
    color: black;
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid 0.05rem rgb(104, 121, 9);
    border-radius: 0.5rem;
}

.nav-button:hover {
    background-color: rgba(240,240,240, 0.8);
    color: #555;
}



#menu-dropdown {
    position: absolute;
    top: 4rem;
    right: 0rem;
    background-color: rgb(200,200,200);
    display: flex;
    flex-direction: column;
    height: relative;
    width: 12rem;
}

#menu-dropdown a {
    font-size: 0.8rem;
    display: flex;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-top: solid 0.1rem rgb(240,240,240);
    background-color: inherit;
    color: #555;
}

#menu-dropdown a:hover {
    background-color: rgb(240,240,240);

}

#popUp {
    grid-column-start: 2;
    grid-row-start: 2;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2rem auto 2rem;
    background-color: rgba(200,200,200,0.9);
    transform: scale(0.9);
    border-radius: 0.5rem;
}

.popUpHeader {
    background-color: rgb(160, 160, 160);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    grid-row-start: 1;
}

.popUpContent {
    width: auto;
    height: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 2rem;
}

.popUpContent p {
    padding: 0.5rem 1rem;
    margin: 0.1rem;
    font-family: 'Arial';
    font-weight: 700;
    text-align: left;
    width: auto;
    height: auto;
    background-color: rgb(240,240,240);
    display: flex;
    align-items: center;
}

.popUpClose {
    background-color: rgb(160, 160, 160);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    grid-row-start: 3;
}

.popUpClose:hover {
    background-color:  rgb(247, 148, 30);
    color:#555;
}

.sub-nav-button {
    margin: 0.2rem;
    padding: 0rem 1rem;
    width: 40%;
    min-height: 4rem;
    height: auto;
    background-color: rgba(72, 94, 38, 0.8);
    color: whitesmoke;
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid 0.05rem rgb(104, 121, 9);
    border-radius: 0.5rem;
}

.sub-nav-button:hover {
    background-color: rgba(240,240,240, 0.8);
    color: #555;
}


/*If screen size is more than 600px, adjust a few things*/
@media only screen and (max-width: 600px) {

    .grid {
        grid-template-rows: 8rem auto 2rem;
    }

    .header {
        height: 8rem;
    }
}
